<h1>List of Products</h1>
<%= link_to "<Previous Page", "#{@products['pager']['previous_page_path']}" %>  |  <%= link_to "Next Page >", "#{@products['pager']['next_page_path']}" %>
<br><br>

<% @products['result'].each do |product| %>
  <section>
    <%= link_to product['name'], product_path(product['id']) %>
    <%= format_price product['price_in_cents'] %>
    <%= product['primary_category'] %>
  </section>
<% end %>


